$darkGrey: #040404;
$lightGrey: #131313;
$lighterGrey: #282828;


.App {
  height: calc(100vh - 90px);
  background:$lightGrey;
}

.navBar {
  width: 250px;
  background: $darkGrey;
  height: 100%;
  .logo {
    padding: 1.5rem 1.5rem;
    svg {
      max-width: 130px;
      path {
        fill: white;
      }
    }
  }

}




.outerWrap {
background: grey;
height: 100vh;
min-height: 100%;
}

.musicControl {
  background: $lighterGrey;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
